.TrafficLight{
    display: flex;
    flex-direction: column;

}
.buld{
    width: 64px;
    height: 64px;
    display: inline-block;
    border-radius: 50%;
    margin: 10px;
    opacity: 0.2;
}
.active{
    opacity: 1;
}
.red{
    background-color: red;
}
.orange{
    background-color: orange;
}
.green{
    background-color: green;
}